:host {
  display: block;
  padding-bottom: 10rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem 2rem 1rem;
}

h3 {
  font-size: 1.5rem;
  margin: 2rem 2rem 1rem;
}

p {
  margin: 0 2rem;
  line-height: 1.5rem;
}

.demo-page-container {
  height: 42.5rem;
  margin: 1rem 2rem;
  position: relative;
  background-color: #fdfdfd;
}

.usage-text-area {
  width: 20rem;
  height: 5rem;
  resize: none;
}