<h2 class="header">
  fuzz-js
</h2>
<p>
  JavaScript fuzzy string search library.
  Finds in-exact string matches in any list of objects.
</p>

<h3 class="header">
  # Live Demo
</h3>
<p>
  Type something into the input field to see it in action.
</p>
<p>
  Generate or use your own sample data in the "Input Data" tab.
</p>
<p>
  Click on the "Search Options & Code Sample" tab to try some different options.
</p>

<div class="demo-page-container">
  <app-demo-page></app-demo-page>
</div>

<h3>
  # Installing
</h3>
<p>npm install --save fuzz-js</p>
<p>For useage examples, take a look in the "Search Options & Code Sample" tab in the Live Demo above (link)</p>

<h3>
  # Similar libraries
</h3>
<p>
  fuse.js, and link to npm compare
</p>

<h3>
  # Performance Discussion?
</h3>
<p>
  O(query length * subject length)
</p>

