<h2 class="header">
  Fuzz-js
</h2>
<p>JavaScript fuzzy string search library.</p>
<p>Fuzz-js finds imperfect string matches in a given list of objects.</p>

<h3 class="header">
  # Live Demo
</h3>
<p>
  Type something into the input field below to see it in action!
</p>
<p>
  Generate or use your own sample data in the "Input Data" tab.
</p>
<p>
  todo: Click on the "Search Options & Code Sample" tab to try some different options.
</p>

<div class="demo-page-container">
  <app-demo-page></app-demo-page>
</div>

<h3>
  # Installing
</h3>
<p>npm install --save fuzz-js</p>

<p>
  <textarea readonly class="usage-text-area">
  import {{'{'}} Fuzz {{'}'}} from 'fuzz-js';

  const data = [ {{'{'}} name: 'Catherine' {{'}'}}, {{'{'}} name: 'Catalina' {{'}'}}];
  const results = Fuzz.search(data, 'kathy');
  </textarea>
</p>

<h3>
  # Performance Discussion
</h3>
<p>It's O(query length * subject length) right now</p>

<h3>
  # Similar libraries
</h3>
<p>
  fuse.js seems to be the most popular library
</p>
<p>
  Check out https://www.npmtrends.com/elasticlunr-vs-fuse.js-vs-fuzzy-vs-fuzzysearch-vs-lunr
</p>
