
:host {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background-color: #fdfdfd;
  border: 1px solid #dddddd;

  display: flex;
  .left-windows {
    flex: 2 2 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #dddddd;
    app-tabbed-window.top {
      width: auto;
      height: auto;
      flex: 1 1 0;
    }
    app-tabbed-window.bottom {
      width: auto;
      height: auto;
      flex: 0 0 auto;
      max-height: 50%;
      border-top: 1px solid #dddddd;
    }
  }
  .right-windows {
    flex: 1 1 0;
    app-tabbed-window.narrow {
      flex: 1 1 0;
      min-width: 20rem;
    }
  }
}

.tab-page {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .page-header {
    flex: 0 0 auto;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
    min-height: 3.75rem;
  }
  .page-footer {
    flex: 0 0 auto;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    min-height: 3.75rem;
  }

  .demo-container-header {
    input {
      padding: 0.25rem 0.5rem;
      flex: 1 1 auto;
      height: 1.5rem;
    }
    .sort-time {
      margin-left: 1rem;
      flex: 0 0 auto;
      font-weight: 500;
    }
  }

  .input-data-page-header {
    .header-text {
      flex: 1 1 0;
    }
    .button-battery {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0.5rem;
      .size-input {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        input {
          margin-left: 0.25rem;
          width: 2rem;
        }
      }
      button {
        margin-top: 0.5rem;
        flex: 0 0 auto;
      }
    }
  }

  .options-form {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dddddd;
    label {
      max-width: 20rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
  }

  .fuzzalytics-container {
    flex: 1 1 0;
    padding-bottom: 0.5rem;
  }

  .text-area-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    textarea, .textarea {
      flex: 1 1 0;
      display: block;
      padding: 0.25rem 0.5rem;
      line-height: 1rem;
      font-size: 0.75rem;
      resize: none;
      border: none;
    }

    margin: 1px;
    &.parse-error {
      margin: 0;
      textarea {
        outline: none !important;
        border: 1px solid red;
        box-shadow: 0 0 10px #719ECE;
      }
    }
    &.fixed-height {
      min-height: 15rem;
      height: 15rem;
    }
  }

  .results-container {
    flex: 1 1 auto;
    overflow: auto;
  }
}

