<app-tabbed-window
	*ngIf="headerTabsLeft"
	[headerTabs]="headerTabsLeft"
	[activeTab]="headerTabsLeft[0]"
></app-tabbed-window>
<app-tabbed-window
	*ngIf="headerTabsLeft"
	[headerTabs]="headerTabsLeft"
	[activeTab]="headerTabsLeft[1]"
></app-tabbed-window>

<ng-template #fuzzSearchTab>
	FuzzJs Search
</ng-template>
<ng-template #fuzzSearchPage>
	<div class="demo-container">
		<div class="demo-container-header">
			<input
				type="text"
				[ngModel]="filterSortQuery"
				(ngModelChange)="onFilterSortQueryChange($event)"
				placeholder="Do a search.."
			>
			<div class="sort-time">search took: {{ filterSortTime }}ms</div>
		</div>
		<div class="results-container">
			<table>
				<tr>
					<th *ngFor="let filterSortKey of filterSortKeys">
						{{ filterSortKey }}
					</th>
				</tr>
				<tr *ngFor="let filterSortedItem of filterSortedItems">
					<td
						*ngFor="let filterSortKey of filterSortKeys"
						[class.matched]="filterSortedItem.key === filterSortKey"
					>
						{{ get(filterSortedItem.original, filterSortKey) }}
					</td>
				</tr>
			</table>
		</div>
	</div>
</ng-template>

<ng-template #fuseDataTab>All Items</ng-template>
<ng-template #fuseDataPage>
	<pre>{{ allItems | json }}</pre>
</ng-template>
