<div class="left-windows">
  <app-tabbed-window
    class="top"
    [headerTabs]="isSmallScreen ? headerTabsLeft.concat(headerTabsRight) : headerTabsLeft"
    [activeTab]="selectedLeftHeaderTab"
    (activeTabChange)="selectedLeftHeaderTab = $event"

  ></app-tabbed-window>
  <app-tabbed-window
    *ngIf="selectedLeftHeaderTab === headerTabsLeft[1]"
    class="bottom"
    [footerTabs]="lowerTabs"
    [activeTab]="lowerTabs[1]"
    [canUnselect]="true"
  ></app-tabbed-window>
</div>
<div *ngIf="!isSmallScreen" class="right-windows">
  <app-tabbed-window
    class="narrow"
    [headerTabs]="headerTabsRight"
    [activeTab]="selectedRightHeaderTab"
    (activeTabChange)="selectedRightHeaderTab = $event"
  ></app-tabbed-window>
</div>

<ng-template #fuzzSearchResultsTab>
  Results
</ng-template>
<ng-template #fuzzSearchResultsPage>
  <div class="tab-page">
    <div class="text-area-container">
      <textarea readonly>{{ filterSortedItems | json }}</textarea>
    </div>
  </div>
</ng-template>

<ng-template #fuzzSearchTab>
  Search Demo
</ng-template>
<ng-template #fuzzSearchPage>
  <div class="tab-page">
    <div class="page-header demo-container-header">
      <input
        autofocus
        type="text"
        [ngModel]="filterSortQuery"
        (ngModelChange)="onFilterSortQueryChange($event)"
        placeholder="Enter search query.."
      >
      <div class="sort-time">search took: {{ filterSortTime }}ms</div>
    </div>
    <div class="results-container">
      <app-fuzz-item-list-viewer
        [fuzzItems]="filterSortedItems"
        [filterSortKeys]="searchKeys"
        [selectedFuzzItem]="freshestFuzzItem"
        (selectedFuzzItemChange)="selectedFuzzItem = $event"
      ></app-fuzz-item-list-viewer>
    </div>
  </div>
</ng-template>

<ng-template #fuzzSearchOptionsTab>
  Search Options
</ng-template>
<ng-template #fuzzSearchOptionsPage>
  <div class="tab-page">
    <div class="page-header">Set some options and try another search!  Code sample will be generated below.</div>
    <div class="options-form">
      <label>
        <textarea></textarea>
        <span>subjectKeys</span>
      </label>
      <label>
        <input type="checkbox">
        <span>isCaseSensitive</span>
      </label>
      <label>
        <input type="checkbox">
        <span>skipFilter</span>
      </label>
      <label>
        <input type="checkbox">
        <span>skipSort</span>
      </label>
      <label>
        <input type="text">
        <span>startDecorator</span>
      </label>
      <label>
        <input type="text">
        <span>endDecorator</span>
      </label>
      <label>
        <input type="number">
        <span>filterThreshold</span>
      </label>
    </div>
    <div class="text-area-container">
      <textarea readonly>sample code</textarea>
    </div>
  </div>
</ng-template>

<ng-template #fuzzDataTab>Input Data</ng-template>
<ng-template #fuzzDataPage>
  <div class="tab-page">
    <div class="page-header input-data-page-header">
      <div class="header-text">Click the "Generate" button, or paste in some JSON formatted data.</div>
      <div class="button-battery">
        <label class="size-input">
          <span>Size:</span>
          <input type="number" [(ngModel)]="fakeDataSize">
        </label>
        <button (click)="generateFakeData()">Generate</button>
      </div>
    </div>
    <div class="text-area-container" [class.parse-error]="parseError">
      <textarea
        [ngModel]="allItemsString || (allItems | json)"
        (ngModelChange)="allItemsStringChange($event)"
      ></textarea>
    </div>
  </div>
</ng-template>

<ng-template #fuzzItemDebuggerTab>FuzzItem</ng-template>
<ng-template #fuzzItemDebuggerPage>
  <div class="tab-page">
    <div *ngIf="!freshestFuzzItem" class="page-footer">Select a row above to view the FuzzItem.</div>
    <div *ngIf="freshestFuzzItem" class="text-area-container fixed-height">
      <textarea readonly>{{ freshestFuzzItem | json }}</textarea>
    </div>
  </div>
</ng-template>

<ng-template #fuzzalyticsTab>Fuzzalytics</ng-template>
<ng-template #fuzzalyticsPage>
  <div class="tab-page fixed">
    <div *ngIf="freshestFuzzItem" class="fuzzalytics-container">
      <app-fuzzalytics
        [fuzzItem]="freshestFuzzItem"
        [fuzzalyticsByFuzzItem]="fuzz.diagnosticsByFuzzItem"
      ></app-fuzzalytics>
    </div>
    <div *ngIf="!freshestFuzzItem" class="page-footer">Select a row above for match explanation.</div>
  </div>
</ng-template>
